

    <div class="nav-container">
      <header>
        <a href="" class="logo"> Luke Chatelain</a>
        <nav>
          <ul>
            <li> <a href="#">My Work</a>  </li>
            <li> <a href="#">My Skills</a>  </li>
            <li> <a href="#">Hire Me</a>  </li>
          </ul>
        </nav>
      </header>
      <div class="social-header">
        <ul>
          <li> <a href="#"> <i class="fab fa-github"></i>  </a> </li>
          <li> <a href="#"> <i class="fab fa-facebook"></i> </a> </li>
          <li> <a href="#">  <i class="fab fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>

    <div class="hero">
      <div class="content">
      <h1>Beautifully Crafted Web Experiences</h1>
      <div class="neat">
        <span></span>
        <p>Meet Luke Chatelain</p>
      </div>
        <%= image_tag "Bangkok.jpg", alt: "alttext" %>
      </div>
    </div>

    <div class="featured">
      <div class="left">
        <div class="inner transition2">
          <p class="subtitle">Featured Project</p>
          <a href="#"> <h1> Design Course</h1></a>
          <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, hic?</p>
        </div>
        <div class="right">
          <%= image_tag "Bangkok.jpg", alt: "alttext" %>
        </div>
      </div>
    </div>

    <div class="skills">
      <div class="skills-container">
        <ul>
          <li class="transition2">
            <div class="icon-container one">
             <%= image_tag "sakura.jpg", alt: "alttext" %>
            </div>
            <p class="skill-title">  UI Ux Design</p>
            <p class="skill-desc">  UI Ui Design</p>
          </li>
          <li class="transition2">
            <div class="icon-container one">
             <%= image_tag "sakura.jpg", alt: "alttext" %>
            </div>
            <p class="skill-title">  UI Ux Design</p>
            <p class="skill-desc">  UI Ui Design</p>
          </li>
          <li class="transition2">
            <div class="icon-container one">
             <%= image_tag "sakura.jpg", alt: "alttext" %>
            </div>
            <p class="skill-title">  UI Ux Design</p>
            <p class="skill-desc">  UI Ui Design</p>
          </li>
        </ul>
      </div>
    </div>

