 <div class="container mt-3">
    <svg>
      <line x1='0' y1='100%' x2='100%' y2='0' />
    </svg>
  <div class="row justify-content-center">
    <div class="col">
      <div class="intro">
        <div class="intro_card">
          <h1>Luke Jens Chatelain</h1>
          <p>A globally tested project manager and web developer serving in countries such as Japan, Thailand, Vietnam, Australia and the United Kingdom on projects utilizing traditional and agile methodologies.</p>
        </div>

      </div>
      <div class ="pm_projects">
        <h1> My Projects</h1>
        <div class="pm_projects_cards container">
          <% data.products.each do |p| %>
            <div class=" pm_project_card">
              <h3><%= p.name %></h3>
              <%= image_tag p.image , alt: "alttext" %>
              <p> <%= p.start %> - <%= p.end %>  </p>
              <p> <%= p.location %>  </p>
              <p> <%= p.description %>  </p>

            </div>
          <% end %>
        </div>
      </div>
      <div class="web_projects">
        <h1>My Web Projects</h1>
        <div class="pm_projects_cards">
          <% data.web.each do |w| %>
            <div class=" pm_project_card">
              <h3><%= w.name %></h3>
              <p> <%= w.start %>  </p>
              <p> <%= w.end %>  </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="contact">
        <h1>Contact me</h1>

      </div>
    </div>
  </div>
</div>
