
    <div class="nav-container">
      <header>
        <a href="" class="logo"> Luke Chatelain</a>
        <nav>
          <ul>
            <li> <a href="#">My Work</a>  </li>
            <li> <a href="#">My Skills</a>  </li>
            <li> <a href="#">Hire Me</a>  </li>
          </ul>
        </nav>
      </header>
      <div class="social-header">
        <ul>
          <li> <a href="#"> <i class="fab fa-github"></i>  </a> </li>
          <li> <a href="#"> <i class="fab fa-facebook"></i> </a> </li>
          <li> <a href="#">  <i class="fab fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>

    <div class="hero">
        <div class="content">
            <h1 class="stagger1">Beautifully Crafted Web Experiences</h1>
            <div class="meet stagger1">
                <span>👇</span>
                <p>Meet Gary Simon</p>
            </div>
            <svg class="scroll stagger1" width="40" height="77" viewBox="0 0 40 77">
                <g id="scroll" transform="translate(-253 -787)">
                  <g id="Rectangle_12" data-name="Rectangle 12" transform="translate(253 787)" fill="none" stroke="#fff" stroke-width="4">
                    <rect width="40" height="77" rx="20" stroke="none"/>
                    <rect x="2" y="2" width="36" height="73" rx="18" fill="none"/>
                  </g>
                  <circle class="circle" id="Ellipse_1" data-name="Ellipse 1" cx="11" cy="11" r="11" transform="translate(262 798)" fill="#fff"/>
                </g>
              </svg>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="hero-design" width="686" height="688" viewBox="0 0 686 688">
            <g id="blockdesign" transform="translate(-935 -289)">
              <rect class="square-anim" data-name="Rectangle 2" width="172" height="172" rx="19" transform="translate(1277 289)" fill="#6e00ff"/>
              <rect class="square-anim" data-name="Rectangle 10" width="172" height="172" rx="86" transform="translate(1277 461)" fill="#ff64cb"/>
              <rect class="square-anim" data-name="Rectangle 8" width="172" height="172" rx="19" transform="translate(1449 461)" fill="#e5d5fa"/>
              <rect class="square-anim" data-name="Rectangle 5" width="172" height="172" rx="19" transform="translate(1277 633)" fill="#6e00ff"/>
              <rect class="square-anim" data-name="Rectangle 3" width="172" height="172" rx="19" transform="translate(1107 461)" fill="#fff"/>
              <rect class="square-anim" data-name="Rectangle 9" width="172" height="172" rx="86" transform="translate(1107 633)" fill="#00f7ff"/>
              <rect class="square-anim" data-name="Rectangle 7" width="172" height="172" rx="19" transform="translate(935 633)" fill="#fff" opacity="0.17"/>
              <rect class="square-anim" data-name="Rectangle 4" width="172" height="172" rx="19" transform="translate(1107 805)" fill="#fff"/>
            </g>
          </svg>
    </div>

    <section class="featured">
        <div class="left">
            <div class="inner transition2">
                <p class="subtitle">Featured Project</p>
                <a href="#" class="featured-title">DesignCourse.com ReDesign</a>

                <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, soluta autem nemo quae delectus quas? Excepturi.</p>
            </div>
        </div>
        <%= image_tag "Bangkok.jpg", alt: "alttext", class:"right transition2" %>

    </section>



    <section class="skills">
        <div class="skills-container">
            <ul>
                <li class="transition2">
                    <div class="icon-container one">
                        <%= image_tag "kyoro.png", alt: "Kilt" %>
                    </div>
                    <h3 class="skill-title">Kyoro</h3>
                    <p class="featured-desc skill-desc">Kyoro is a tool that helps managers keep track of their team's engagement level and mental health (individual as well as overall) thanks to Slack integration and feedback analysis, so that they can react quickly and meet their team's needs. Much needed in the era of remote work.

Built by a team of 4 developers during a 10-day product sprint.</p>
                </li>
                <li class="transition2">
                    <div class="icon-container two">
                        <%= image_tag "connectrainer.png", alt: "Kilt" %>
                    </div>
                    <h3 class="skill-title">ConnecTrainer</h3>
                    <p class="featured-desc skill-desc">ConnecTrainer is a platform where users can book a workout session with a trainer, or become trainers themselves and offer their services to customers.

Built by a team of 4 developers during a 5-day product sprint.</p>
                </li>
                <li class="transition2">
                    <div class="icon-container three">
                       <%= image_tag "kilt.jpg", alt: "Kilt" %>
                    </div>
                    <h3 class="skill-title">Monease</h3>
                    <p class="featured-desc skill-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, odit?</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="portfolio">

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <p class="subtitle">Australia & the United Kingdom</p>

                    <p class="featured-title">Graham Tour Australia & UK</p>
                    <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint, molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
                </div>
            </div>
            <a href="#"> <%= image_tag "Perth.jpg", alt: "alttext" %>  </a>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <p class="subtitle">Bangkok, Thailand</p>

                    <p class="featured-title">Bangkok Celebration of Hope</p>
                    <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint, molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
                </div>
            </div>
            <a href="#"><%= image_tag "Bangkok.jpg", alt: "alttext" %></a>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/"><p class="subtitle">Hanoi, Vietnam</p> </a>

                    <p class="featured-title">Love Hanoi Festival</p>
                    <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint, molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
                </div>
            </div>
            <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/"><%= image_tag "hanoi_inside.jpg", alt: "alttext" %></a>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

    <script>
        gsap.registerPlugin(ScrollTrigger);
        var tl = gsap.timeline();

        tl.from('.content', {
            y: '-30%',
            opacity: 0,
            duration: 2,
            ease: Power4.easeOut
        })
        tl.from('.stagger1', {
            opacity: 0,
            y: -50,
            stagger: .3,
            ease: Power4.easeOut,
            duration: 2
        }, "-=1.5")
        tl.from('.hero-design', {
            opacity: 0, y: 50, ease: Power4.easeOut, duration: 1
        }, "-=2")

        gsap.from(".square-anim", {
            stagger: .2,
            scale: 0.1,
            duration: 1,
            ease: Back.easeOut.config(1.7)
        })

        gsap.from(".transition2", {
            scrollTrigger: {
                trigger: '.transition2',
                start: "top bottom"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .3
        })

        gsap.from(".transition3", {
            scrollTrigger: {
                trigger: ".transition3",
                start: "top center"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .6
        });
    </script>

