
    <div class="nav-container">
      <header>
        <a href="" class="logo"> Luke Chatelain</a>
        <nav>
          <ul>
            <li> <a href="#">My Work</a>  </li>
            <li> <a href="#">My Skills</a>  </li>
            <li> <a href="#">Hire Me</a>  </li>
          </ul>
        </nav>
      </header>
      <div class="social-header">
        <ul>
          <li> <a href="#"> <i class="fab fa-github"></i>  </a> </li>
          <li> <a href="#"> <i class="fab fa-facebook"></i> </a> </li>
          <li> <a href="#">  <i class="fab fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>

    <div class="hero">
        <div class="content">
            <h1 class="stagger1">Project Manager <br>Full Stack Engineer</h1>
            <div class="meet stagger1">
                <p>Luke Chatelain</p>
            </div>
            <%= image_tag "long_bien.jpg", alt: "alttext", class: "portrait" %>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="hero-design" width="686" height="688" viewBox="0 0 686 688">
            <g id="blockdesign" transform="translate(-935 -289)">
              <rect class="square-anim" data-name="Rectangle 2" width="172" height="172" rx="19" transform="translate(1277 289)" fill="#6e00ff"/>
              <rect class="square-anim" data-name="Rectangle 10" width="172" height="172" rx="86" transform="translate(1277 461)" fill="#ff64cb"/>
              <rect class="square-anim" data-name="Rectangle 8" width="172" height="172" rx="19" transform="translate(1449 461)" fill="#e5d5fa"/>
              <rect class="square-anim" data-name="Rectangle 5" width="172" height="172" rx="19" transform="translate(1277 633)" fill="#6e00ff"/>
              <rect class="square-anim" data-name="Rectangle 3" width="172" height="172" rx="19" transform="translate(1107 461)" fill="#fff"/>
              <rect class="square-anim" data-name="Rectangle 9" width="172" height="172" rx="86" transform="translate(1107 633)" fill="#00f7ff"/>
              <rect class="square-anim" data-name="Rectangle 7" width="172" height="172" rx="19" transform="translate(935 633)" fill="#fff" opacity="0.17"/>
              <rect class="square-anim" data-name="Rectangle 4" width="172" height="172" rx="19" transform="translate(1107 805)" fill="#fff"/>
            </g>
          </svg>
    </div>

    <section class="featured">
        <div class="left">
            <div class="inner transition2">
                <p class="subtitle">About Luke</p>
                <a href="#" class="featured-title">DesignCourse.com ReDesign</a>

                <p class="featured-desc">A globally tested project manager and web developer serving in countries such as Japan, Thailand, Vietnam, Australia and the United Kingdom on projects utilizing traditional and agile methodologies. I now hope to take the skills I've acquired and apply them to the IT field in Japan.</p>
            </div>
        </div>
        <%= image_tag "Bangkok.jpg", alt: "alttext", class:"right transition2" %>

    </section>



    <section class="skills">
        <div class="skills-container">
            <ul>
                <li class="transition2">
                    <div class="icon-container one">
                        <%= image_tag "kyoro.png", alt: "kyoro" %>
                    </div>
                    <h3 class="skill-title">Kyoro</h3>
                    <p class="featured-desc skill-desc">Kyoro is a tool that helps managers keep track of their team's engagement level using Slack integration and feedback analysis, so that they can react quickly and meet their team's needs.
Built by a team of 4 developers during a 10-day product sprint.</p>
                </li>
                <li class="transition2">
                    <div class="icon-container two">
                        <%= image_tag "connectrainer.png", alt: "Kilt" %>
                    </div>
                    <h3 class="skill-title">ConnecTrainer</h3>
                    <p class="featured-desc skill-desc">ConnecTrainer is a platform where users can book a workout session with a trainer, or become trainers themselves and offer their services to customers.

Built by a team of 4 developers during a 5-day product sprint.</p>
                </li>
                <li class="transition2">
                    <div class="icon-container three">
                       <%= image_tag "kilt.jpg", alt: "Kilt" %>
                    </div>
                    <h3 class="skill-title">Monease</h3>
                    <p class="featured-desc skill-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, odit?</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="portfolio">

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <p class="subtitle">Australia</p>

                    <a href="https://billygraham.org.au/photos-graham-tour-in-perth/"><p class="featured-title">Graham Tour Australia</p></a>
                    <p class="featured-desc">After 16 days in six cities, the Graham Tour concluded in Sydney, Australia, on Feb. 24. The 6,800 people who gathered for the final event contributed to a total of more than 59,000 who heard Franklin Graham share the Gospel in this massive country.</p>
                </div>
            </div>
            <a href="https://billygraham.org.au/photos-graham-tour-in-perth/"> <%= image_tag "Perth.jpg", alt: "alttext" %>  </a>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <p class="subtitle">Bangkok, Thailand</p>

                    <a href="https://decisionmagazine.com/bangkok-thailand-churches-unite-for-the-first-time-in-history/"><p class="featured-title">Bangkok Amazing Love Festival</p></a>
                    <p class="featured-desc">"Held in the Bangkok International Trade & Exhibition Centre (BITEC), the Amazing Love Festival drew 42,000 people over two nights, with more than 79,000 viewing online."</p>
                </div>
            </div>
            <a href="https://decisionmagazine.com/bangkok-thailand-churches-unite-for-the-first-time-in-history/"><%= image_tag "Bangkok.jpg", alt: "alttext" %></a>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/"><p class="subtitle">Hanoi, Vietnam</p> </a>

                    <p class="featured-title">Love Hanoi Festival</p>
                    <p class="featured-desc">"The public gathering of thousands to hear the Gospel message in Vietnam’s capital city Dec. 8-9 was historic, marking the first time a large-scale Christian event has been held in the communist nation and reflecting progress in the government’s relationship with evangelical Christians."</p>
                </div>
            </div>
            <a href="https://decisionmagazine.com/hanoi-festival-a-milestone-for-the-gospel/"><%= image_tag "hanoi_inside.jpg", alt: "alttext" %></a>
        </div>

        <div class="portfolio-container transition3">
            <div class="portfolio-left">
                <div class="inner">
                    <a href="https://billygraham.org.au/a-move-of-god-in-myanmar-franklin-graham-festival-draws-170000/"><p class="subtitle">Yangon, Myanmar</p> </a>

                    <a href="https://billygraham.org.au/a-move-of-god-in-myanmar-franklin-graham-festival-draws-170000/"><p class="featured-title">Yangon Love Joy Peace Festival</p></a>
                    <p class="featured-desc">"As Myanmar’s people have seen expanded freedoms the past few years under the civilian government, Christians have begun to make their voice heard in new ways. Altogether, more than 170,000 in attendance over the three day event."</p>
                </div>
            </div>
            <a href="https://billygraham.org.au/a-move-of-god-in-myanmar-franklin-graham-festival-draws-170000/"><%= image_tag "Myanmar-1.jpg", alt: "alttext" %></a>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

    <script>
        gsap.registerPlugin(ScrollTrigger);
        var tl = gsap.timeline();

        tl.from('.content', {
            y: '-30%',
            opacity: 0,
            duration: 2,
            ease: Power4.easeOut
        })
        tl.from('.stagger1', {
            opacity: 0,
            y: -50,
            stagger: .3,
            ease: Power4.easeOut,
            duration: 2
        }, "-=1.5")
        tl.from('.hero-design', {
            opacity: 0, y: 50, ease: Power4.easeOut, duration: 1
        }, "-=2")

        gsap.from(".square-anim", {
            stagger: .2,
            scale: 0.1,
            duration: 1,
            ease: Back.easeOut.config(1.7)
        })

        gsap.from(".transition2", {
            scrollTrigger: {
                trigger: '.transition2',
                start: "top bottom"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .3
        })

        gsap.from(".transition3", {
            scrollTrigger: {
                trigger: ".transition3",
                start: "top center"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .6
        });
    </script>

